<footer>
  <div class="container">
    <div class="footer-flex-container0">
      <div class="brand-and-socials">
        <a class="brand-link" href="./index.html">
          <div class="logo-circle">
            <svg class="footer-logo">
              <use href="./images/icons.svg#icon-logo"></use>
            </svg>
          </div>

          <p class="footer-brand-name">Food Boutique</p>
        </a>

        <ul class="socials">
          <li>
            <a
              class="footer-socials-frame"
              href="https://www.facebook.com/goITclub/"
            >
              <svg class="footer-socials-logo">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              class="footer-socials-frame"
              href="https://www.instagram.com/goitclub/"
            >
              <svg class="footer-socials-logo">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              class="footer-socials-frame"
              href="https://www.youtube.com/c/GoIT"
            >
              <svg class="footer-socials-logo">
                <use href="./images/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-flex-container1">
        <div class="footer-text">
          <p class="big-footer-text">
            Discover the Variety of Flavors and Quality
          </p>
          <p class="small-footer-text">
            An online store where you will find fresh, natural and <br />
            delicious products for a healthy life and unforgettable <br />
            gastronomic adventures.
          </p>
        </div>

        <div>
          <form class="footer-email-form">
            <p class="footer-form-text">
              Subscribe and learn about new products!
            </p>
            <input
              class="footer-email-input"
              type="email"
              name="email-input"
              placeholder="Email"
              pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
              title="Enter valid email address"
            />
            <button class="footer-button" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-bottom-text">
      <p class="all-rights-reserved">Food Boutique. All rights reserved.</p>
      <p><a href="">Privacy Policy</a> / <a href="">Terms of Service</a></p>
    </div>
  </div>
</footer>
