<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo-title link">
      <div class="logo-ellips">
        <svg class="logo-icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </div>
      <svg class="logo-title-icon">
        <use href="./images/icons.svg#icon-Food-Boutique"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <a href="./index.html" class="home-link">Home</a>
      <a href="./cart.html" class="header-cart-link"><svg class="header-cart-icon">
          <use href="./images/icons.svg#icon-basket"></use>
        </svg></a>
      <p class="cart-quanity">Cart(<span class="quantity-in-cart-header">0</span>)</p>
    </nav>
  </div>
</header>