<section class="hero">
    <div class="container hero_container">
        <h1 class="title_h1 hero_title">Welcome to the <span class="hero_span">Food</span> Boutique!</h1>
        <p class="hero_text">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher,
            fitter, and happier
            you.</p>
        <div class="hero-picture-box">
            <picture class="hero-picture">
                <source class="hero_img" srcset="
                      ./images/desktop-hero-1x-min.png 1x,
                      ./images/desktop-hero-2x-min.png 2x
                    " media="(min-width: 1440px)" />
                <source class="hero_img" srcset="
                      ./images/tablet-hero-1x-min.png 1x,
                      ./images/tablet-hero-2x-min.png 2x
                    " media="(min-width: 768px)" />
                <source class="hero_img" srcset="
                  ./images/mobile-hero-1x-min.png 1x,
                  ./images/mobile-hero-2x-min.png 2x
                  " media="(max-width: 767px)" />
                <img class="hero_img" src=" ./images/desktop-hero-1x-min.png"
                    alt="a man holds a box with vegetables in his hands" width="1240" />
            </picture>
            <div class="hero-organic-label">
                <img src="./images/organic.jpg" alt="organic label" class="organic-img">
                <!-- <div class="icon-box-organic">
                    <svg width="24" height="24" class="hero-organic-icon">
                        <use href="./images/icons.svg#icon-leaf"></use>
                    </svg>
                    <svg width="90" height="90" class="hero-organic-icon-text">
                        <use href="./images/icons.svg#icon-organicsvg"></use>
                    </svg> -->
                <!-- <p class="hero-label-text">organic food organic food</p> -->
            </div>
        </div>
    </div>
    </div>
</section>