<div class="backdrop"></div>
<div class="modalWindow">
  <div class="modalContent">
    <button class="closeBtn" type="submit"></button>
    <div><img src="" alt="" class="itemImage" /></div>
    <div class="itemDesc">
      <h2 class="itemName">itemName</h2>
      <ul class="productParams">
        <li class="itemParams"><p>Category: Fresh product</p></li>
        <li class="itemParams"><p>Size: 1 Medium-sized</p></li>
        <li class="itemParams"><p>Popularity: 0</p></li>
      </ul>
      <p class="itemDescription">
        A round, orange vegetable with a thick shell and seeds inside. It is
        often used in cooking and baking for its sweet and earthy flavor.
      </p>
    </div>
    <div>
      <p class="itemPrice">2.99$</p>
      <button class="addBtn" type="submit">Add to Cart</button>
    </div>
  </div>
</div>
