<div class="backdrop">
  <div class="modalWindow">
    <button class="closeBtn" type="submit"></button>
    <div class="itemDesc">
      <img src="" alt="" class="itemImage" />
      <h2 class="itemName">itemName</h2>
      <ul class="productParams">
        <li class="itemParams">
          <p>Category: <span class="paramsType">Fresh product</span></p>
        </li>
        <li class="itemParams">
          <p>Size:<span class="paramsType">1 Medium-sized</span></p>
        </li>
        <li class="itemParams">
          <p>Popularity:<span class="paramsType">0</span></p>
        </li>
      </ul>
      <p class="itemDescription">
        A round, orange vegetable with a thick shell and seeds inside. It is
        often used in cooking and baking for its sweet and earthy flavor.
      </p>
    </div>
    <div>
      <p class="itemPrice">2.99$</p>
      <button class="addBtn" type="submit">Add to Cart</button>
    </div>
  </div>
</div>
