<section class="products">
  <div class="container">
    <div class="basic-wrapper">
      <h2 class="visually-hidden">The top list of products</h2>
      <div class="not-found-wrapper">
        <h3>Nothing was found for the selected <span>filters...</span></h3>
        <p>
          Try adjusting your search parameters or browse our range by other
          criteria to find the perfect product for you.
        </p>
      </div>
      <!-- <div class="for-span-loader"></div> -->
      <!-- <span class="loader"></span> -->
      <ul class="basic-list"></ul>
      <div class="pages-wrapper">
        <button class="pages-btn-left is-hover" type="button" aria-label="left">
          <svg class="pages-btn-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevron-left"></use>
          </svg>
        </button>
        <ul class="pages-list"></ul>
        <button
          class="pages-btn-right is-hover"
          type="button"
          aria-label="right"
        >
          <svg class="pages-btn-icon" width="24" height="24">
            <use href="./images/icons.svg#icon-chevron-right"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="secondary-wrapper">
      <div class="popular-wrapper">
        <h2 class="secondary-headers title_h2">Popular products</h2>
        <ul class="popular-list"></ul>
      </div>
      <div class="discount-wrapper">
        <h2 class="secondary-headers title_h2">Discount products</h2>
        <ul class="discount-list"></ul>
      </div>
    </div>
  </div>
</section>
