<section class="filter_section">
  <div class="container">
    <h2 class="filter_title">Filter:</h2>
    <form class="filter_form">
      <div class="filter_field">
        <label for="filter-text"></label>
        <div class="search-filter">
          <input
            class="search-input input_name"
            type="text"
            name="text"
            id="filter-text"
            placeholder="Search for anything"
          />

          <button class="filter_button" type="submit" aria-label="submit">
            <svg width="20" height="20" class="icon-filter">
              <use href="./images/icons.svg#icon-loupe"></use>
            </svg>
          </button>
          <!-- <div class="filter_icon_position">
                    </div> -->
        </div>
      </div>
      <div class="filter_field">
        <!-- <label for="categories"></label> -->
        <select
          class="search-input select_categories select-filter"
          name="categories"
          id="categories"
          aria-label="categories"
        >
          <option value="" disabled selected hidden>Categories</option>
        </select>
        <div class="filter_icon_position">
          <svg width="20" height="20" class="icon-filter">
            <use href="./images/icons.svg#icon-chevron-down"></use>
          </svg>
        </div>
      </div>
      <div class="filter_field">
        <!-- <label for="sort"></label> -->
        <select
          class="search-input select_search select-filter"
          name="sort"
          id="sort"
          aria-label="sort"
        >
          <option value="byABC=true" selected>A to Z</option>
          <option value="byABC=false">Z to A</option>
          <option value="byPrice=true">Cheap</option>
          <option value="byPrice=false">Expensive</option>
          <option value="byPopularity=true">Popular</option>
          <option value="byPopularity=false">Not popular</option>
        </select>
        <div class="filter_icon_position">
          <svg width="20" height="20" class="icon-filter">
            <use href="./images/icons.svg#icon-chevron-down"></use>
          </svg>
        </div>
      </div>
    </form>
  </div>
</section>
