.hero {
  padding-top: 72px;
}
.hero_span {
  color: var(--primary-brand-color);
}
.hero_title {
  font-size: 44px;
  line-height: 1.09; /* 109.091% */
}
.hero_text {
  font-size: 14px;
  max-width: 292px;
  margin: 16px auto 0 auto;
  line-height: 1.28; /* 128.571% */
  color: var(--grey-text-color080);
}
.hero_img {
  margin-top: 32px;
  border-radius: 25px;
}
.hero_container {
  text-align: center;
}

.hero-picture-box {
  position: relative;
}
.hero-organic-label {
  position: absolute;
  right: 8px;
  top: -7px;
  background-color: #fdc152;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-box-organic {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero-organic-icon {
  position: absolute;
  top: 50%;
  /* right: 50%; */
  /* transform: translateX(-50%); */
  /* transform: translateY(-50%); */
}
.hero-organic-icon-text {
  position: absolute;
  top: 5px;
  right: 50%;
  /* transform: translateY(-50%); */
  transform: translateX(50%);
}
.organic-img {
  border-radius: 50%;
}
.hero-label-text {
  position: absolute;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25; /* 125% */
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero_title {
    font-size: 80px;
    line-height: 1; /* 100.00% */
    max-width: 658px;
    margin: 0 auto;
  }
  .hero_text {
    font-size: 18px;
    max-width: 492px;
    margin: 20px auto 0 auto;
    line-height: 1.33;
  }
  .hero_img {
    margin-top: 40px;
    border-radius: 50px;
  }
  .hero-organic-label {
    right: 10px;
    top: -30px;
  }
}
@media screen and (min-width: 1440px) {
  .hero_title {
    max-width: 1042px;
  }
  .hero-organic-label {
    right: 20px;
    top: -50px;
  }
}
